port                             <%= node['ssh']['port'] %>
AuthorizedKeysFile               .ssh/authorized_keys
PubkeyAuthentication             yes
PermitRootLogin                  no
PasswordAuthentication           no
ChallengeResponseAuthentication  no
UsePAM                           yes
